<% include header %>
<% include menu %>
<h1>About Photonizer</h1>
About Photonizer: <br>
Photonizer was created with the idea of being able to users to be able to view, modify, and add photographs in their own collection as well as others'. Interaction is encouraged as users may comment on a particular photo to let another user know what they think of their photo. Photonizer allows all users to see all kinds of EXIF data like the make and model of the Camera, the make and model of the Lens, and all other information about the photo at the time it was snapped.

<br><br>
About the developer: <br>
My name is Spencer Vaishville. I am a Computer Science major at Sonoma State University. As much as I love my coursework, sometimes I just feel the need to get away from my computer, go for a walk, and snap some photos. However, there are some photos that I see online that I want to try and mimic, but without the EXIF data, I struggle on where to begin. With a passion for photography and a desire to learn, I was inspired to create Photonizer and this is the result. It is not perfect yet, but given more time I would be able to do what I really wanted to accomplish by the end of this project, which was to actually generate the image files. Nonetheless, the groundwork has been completed and is ready for further development. 

<br><br>
Contact Information:<br>
Spencer Vaishville (developer)<br>
svaishville@photonizer.com <br>
123-456-7890<br>
000 Infinite Loop Circle<br>
Silicon Valley, CA<br>
 
<br><br>
	
<% include footer %>	