<% include header %>
<body>
<% include menu %>

	<h1>Comments</h1>
   <% if(rs.length > 0) { %>
	<table border="3";>
        <tr>
			<th>User</th>
			<th>Rating</th>
			<th>Comment</th>
		</tr>
        <% for (var i=0; rs.length > i; i++) { %>
			<tr>
				<td><%= rs[i].Username %></a></td>
				<td><%= rs[i].UserRating %></a></td>
				<td><%= rs[i].UserComment %></a></td>
            </tr>
        <% } %>
    </table>
    <% } else { %>
         No comments are entered for this photo.
    <% } %>

	<a href="/usercomment/create?PhotoID=<%= photoid %>"> Add Comment</a>
	
	
	
<% include footer %>
