
</div>

</body>
<footer>
	<div id="footer" style="background-color:#FFA500; clear; both; text-align:center; height:100%; bottom:0; position:aboslute;">
		Copyright © Spencer Vaishville 2014</div>
</footer>

</html>