<!DOCTYPE HTML>
<html>
<head>
    <title>Photonizer</title>
</head>
<header>
	<div id="container" style="width:100%">	
	<div id="header" style="background-color:#FFA500; clear; both; text-align:center;">
    <h1>Photonizer</h1>
    <h2>Your place for photo library organization</h2>
	</div>
</header>
<body>
<div id="content">

