<% include header %>
	<% include menu %>
	<ol>
		<a href="/lens/create">Add Lens</a> Found a lens we don't have listed? <br>
		<a href="/camera/create">Add Camera</a> Found a camera we don't have listed?<br>
		<a href="/photo/create">Add Photo</a> Upload a photo!<br>
	</ol>
</body>

<% var hideBackLink = true; %>
<% include footer %>