<div id="menu" style="background-color:#FFD700; width:140px;height:700px;float:left;">
	<b>Menu</b></br>
	<a href="/"> Home </a><br>
	<a href="/user/list">Users</a><br>
	<a href="/camera/list">Cameras</a><br>
	<a href="/lens/list">Lenses</a><br>
	<a href="/photo/list">Photos</a><br>
	<a href="/user/create">Create New User</a><br>
	<a href="/lens/create">Add New Lens</a><br>
	<a href="/camera/create">Add New Camera</a><br>
	<a href="/photo/create">Add New Photo</a><br>
	<a href="/about"> About </a><br>
</div>

