<% include header %>
<body>
<% include menu %>
	<h1>User Properties </h1>
	<form method="Post" action="/user/save"> 
	<input type="hidden" name="userid" id="userid" value="<%= userid %>"/>
		<table>
			<tr><td>Username:</td>
				<td><input type="text" name="username" id="username" value="<%= username %>"/></td>
			</tr>
			<tr><td>Name:</td>
				<td><input type="text" name="name" id="name" value="<%= name %>"/> </td>
			</tr>
		</table>
		<input type="submit" />
	</form>
	
	
	
	
<% include footer %>